<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyectoOmegaR.Properties.Settings.bdomegarConnectionString"
            connectionString="User Id=root;password=admin;server=localhost;database=bdomegar"
            providerName="MySql.Data.MySqlClient" />
        <add name="ProyectoOmegaR.Properties.Settings.bdomegarConnectionString1"
            connectionString="server=localhost;User Id=root;database=bdomegar"
            providerName="MySql.Data.MySqlClient" />
        <add name="ProyectoOmegaR.Properties.Settings.OmegaRConnectionStringNube"
            connectionString="server=50.63.244.72;User Id=OmegaR;password=Honguito!1;database=OmegaR"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>